.stock-ticker {
    display: flex;
    width: 600px;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    flex-direction: column;
    font-size: 25px;
}

.container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 25px;
    height: 70px;
    border: 1px grey solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    box-sizing: border-box;
}

p {
    margin: 0;
}